<section class="{{ section.block }} bg-{{ section.background_color }}">
   <div class="container-fluid pt-{{ section.padding_top }} pb-{{ section.padding_bottom }}">
       <div class="container">
           <div class="row">
            {% assign sorted = site.projects | sort: 'date' %}
            {% for item in sorted limit:9 %} 
               <div class="col-12 p-0 project" style="background: url('{{ item.image }}');">
                    <a href="{{ item.url }}">
                        <div class="project-inner">
                            <div class="project-inner-content text-center">
                                <p class="h3">{{ item.title }}</p>
                                <p>{{ item.categories }}</p>
                            </div>
                        </div>
                    </a>
               </div>
            {% endfor %}
           </div>
       </div>
   </div>
</section>