.navbar {
    transition: .3s ease-in-out;
    @media screen and (max-width: $breakpoint-md ) {
        background-color: white;
    }
}

.navbar-light .navbar-brand {
    color: $accent;
}

.navbar-light .navbar-nav .nav-link {
    color: $text-black;
}

.navbar-light .navbar-nav .active > .nav-link {
    color: $accent;
}

.navbar.scrolled {
    background-color: white;
}