$header-color: #1176AE; // All Text
$text-black: #58595B;
$accent: #1176AE; // Link
$md-gray: #4f4f4f;
$lt-gray: #F1F2F2;
$overlay: rgba(0,0,0,.5);

$body: 'Brandon Text', sans-serif;
$header: 'Recoleta';
$body-size: 18px;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$rem-xs: 1rem;
$rem-sm: 2rem;
$rem-md: 4rem;
$rem-lg: 6rem;
$rem-xl: 8rem;