$header-color: #292a2d;
$text-black: #333438;
$accent: #1A7C86;
$md-gray: #4f4f4f;
$lt-gray: #F1F5FD;

$body: 'Maison Neue', 'Roboto', sans-serif;
$header: $body;
$body-size: 15px;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$rem-xs: 1rem;
$rem-sm: 2rem;
$rem-md: 4rem;
$rem-lg: 6rem;
$rem-xl: 8rem;