$project-height: 400px;
.split-home-projects {

    .project-post {
        margin-bottom: $rem-sm;
    }

    .project-post-image {
        height: $project-height;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: $rem-sm;
        .overlay {
            height: 100%;
            width: 100%;
            background-color: $overlay;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: $rem-xs;
            opacity: 0;
            transition: .3s ease-in-out;
            h5 {
                color: $lt-gray;
            }
        }
        &:hover {
            .overlay {
                opacity: 1;
            }
        }
    }

}