$project-height: 600px;
.home-projects {

    .project {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: $project-height;
        margin-top: $rem-xs;
        margin-bottom: $rem-xs;


        .project-inner {
            min-height: $project-height;
            width: 100%;
            background-color: rgba(0,0,0,.7);
            padding: $rem-sm;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transition: .3s ease-in-out;
            &:hover {
                opacity: 1;
            }

            .project-inner-content h3, .project-inner-content p {
                color: $lt-gray;
            }

        }

    }

}