.blog-header {
    .featured-image {
        height: 500px;
        background-color: $lt-gray;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        @media screen and (max-width: $breakpoint-md) {
            height: 300px;
        }
    }
}

.blog-post {
    p > img {
        display: block;
        width: 100%;
        margin: $rem-xs auto;
    }
}